<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Helebears - User Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- Import Pure.css -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/styles/profile.css">
</head>
<body>
<div id="container-top" class="pure-menu pure-menu-horizontal"></div>

<div class="container">

    <div class="page-header text-center">
        <h1 class='profile-page-header'><span class="fa fa-cog"></span> Profile Page</h1>
    </div>

    <div class="col">
        <!-- LOCAL INFORMATION -->
        <h3 class='header-left'><span class="fa fa-user"></span> Local</h3>
        <div class="well well-left">

            <% if (user.email) { %>
            <p class='user-info'>
                <strong>id</strong>: <%= user.id %><br>
                <strong>email</strong>: <%= user.email %><br>
                <strong>password</strong>: <%= user.password %>
            </p>

            <a href="/unlink/local" class="btn btn-danger">Unlink Profile</a>
            <% } else { %>
            <a href="/connect/local" class="btn btn-success">Connect Local</a>
            <% } %>
        </div>
    </div>

    <div class="col">

        <!-- GOOGLE INFORMATION -->
        <h3 class='header-right'><span class="fa fa-google-plus"></span> Google+</h3>
        <div class="well well-right">

            <!-- check if the user has this token (is the user authenticated with this social account) -->
            <% if (user.googletoken) { %>
            <p class='user-info'>
                <strong>id</strong>: <%= user.googleid %><br>
                <strong>token</strong>: <%= user.googletoken %><br>
                <strong>email</strong>: <%= user.googleemail %><br>
                <strong>name</strong>: <%= user.googlename %>
            </p>

            <a href="/unlink/google" class="btn btn-danger">Unlink Profile</a>
            <% } else { %>
            <a href="/connect/google" class="btn btn-success">Connect Google</a>
            <% } %>

        </div>
    </div>

    <!-- Load in Menu -->
    <script src="scripts/profile.js"></script>

</div>
</body>
</html>
